<header class="hero">
    
    <nav class="nav__container">
        <a routerLink="/home" routerLinkActive="active"
        class="nav__links">Home</a>
        <a routerLink="/menus" routerLinkActive="active"
        class="nav__links">Menus</a>
        <a routerLink="/home" routerLinkActive="active" class="nav__links">Acerca de nosotros</a>
           
    </nav>
    <section class="text-header">
        <h1>Tivi Park</h1>
        <h2>Hacemos que tus cumpleaños, <br>sean inolvidables.</h2>
    </section>

    <div class="ondas" style="height: 120px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-2.54,11.36 C131.77,232.41 301.63,-87.31 501.41,76.48 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #f4a24b;"></path></svg></div>
     
</header>
