<body>
    <footer class="footer">
        <div class="container">
            <div class="row">
                
                <div class="footer-col">
                    <h4>DONDE ENCONTRARNOS</h4>
                    <ul>
                        <li><a href="#">Plaza Almanzara</a></li>
                        <li><a href="#">2 Bajo 99</a></li>
                        <li><a href="#">Santomera, Murcia</a></li>
                        <li><a href="#">España</a></li>
                    </ul>
                </div>

                <div class="footer-col">
                    <h4>CORREO ELECTRONICO</h4>
                    <ul>
                        <li><a href="#">tivipark@gmail.com</a></li>
                        <!--<li><a href="#">shipping</a></li>-->
                        <!--<li><a href="#">returns</a></li>-->
                        <!--<li><a href="#">order status</a></li>-->
                        <!--<li><a href="#">payment options</a></li>-->
                    </ul>
                </div>

                <div class="footer-col">
                    <h4>NUMERO TELEFONICO</h4>
                    <ul>
                        <li><a href="#">(+34) 623 192 264</a></li>
                        <!--<li><a href="#">bag</a></li>-->
                        <!--<li><a href="#">shoes</a></li>-->
                        <!--<li><a href="#">dress</a></li>-->
                    </ul>
                </div>

                <div class="footer-col">
                    <h4>SUGUENOS EN REDES</h4>
                      <div class="social-links">
                        <a href="https://m.facebook.com/324583478181772/"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                      </div>    
                </div>


            </div>
        </div>
    </footer>
</body>
