<body>
<section class="flex-container">
  <div class="caja">
     <img class="imagen" src="./assets/tivi-park-image/padres-1.jpeg" alt="">
  </div>
  <div class="caja">
   <img class="imagen" src="./assets/tivi-park-image/tiviClassic2.jpeg" alt="">
  </div>
  <div class="caja">
   <img class="imagen" src="./assets/tivi-park-image/super.jpeg" alt="">
  </div>
  <div class="caja">
   <img class="imagen" src="./assets/tivi-park-image/tiviBassic.jpeg" alt="">
  </div>
  <div class="caja">
   <img class="imagen" src="./assets/tivi-park-image/padres-2.jpeg" alt="">
  </div>
  <div class="caja">
   <img class="imagen" src="./assets/tivi-park-image/tiviSuper.jpeg" alt="">
  </div>
</section>
</body>