body {
   
    height: 500px;
}
.flex-container {
    /* border: 1px solid black; */
    background: #92E1E2;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}
.caja {
    border: 1px solid rgb(70, 69, 69);
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 300px;
    height: 500px;
    line-height: 120px;
    text-align: center;
    margin: 70px;
}
.imagen {
    width: 300px;
    height: 500px;
}
@media screen and (max-width: 480px) {
    body {
        width: 1440px;
    }
    .flex-container { 
        display: block;
    }
    .caja {
        width: 800px;
        height: 1080px;
        margin: 100px 300px 20px  ;
    }
    .imagen {
        width: 800px;
        height: 1080px;
        object-fit: cover;
    }
}

@media screen and (max-width: 768px) {
    body {
        width: 1440px;
    }
}

@media screen and (max-width: 960px) {
    body {
        width: 1440px;
    }
}

@media screen and (max-width: 1024px) {
    body {
        width: 1410px;
    } 
}

@media screen and (max-width: 1328px) {
    body {
        width: 1410px; 
    } 
}
